/.venv
/beer2025.db
db.sqlite3
beer/__pycache__/
commissioner/__pycache__/


commissioner/scripts/__pycache__/
beerme.sqlproj

commissioner/scripts/logs/load_race_results.txt
/commissioner/migrations/__pycache__